:host {
    position: relative;
    display: inline-block;
}


::content .transparent,
:host .transparent {
    opacity: 0;
    pointer-events: none;
}

:host .hidden {
    display: none;
}

:host .disable {
    pointer-events: none;
}

:host #container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
